*{
    margin: 0%;
}
body{
    background-color:rgb(214, 238, 250);
    

}

.formstyle{
    margin-top: 10%;
    text-align: center;
    border: 0px ;
    border-radius: 5%;
    margin-left:40%;
    width: fit-content;
    height: fit-content;
    box-shadow: inset;
    background-color: #7fafd6;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, 0.5);
}

.textview{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3%;
    border: solid rgb(18, 17, 17) 4px;
  

}

.btn{
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    border: 0ch;
    font-weight:510;
}



